{% extends "users/base.html"%}
{%load crispy_forms_tags%} 
{%block content%}
<br><br> 

<h2> Add Account </h2>
<hr> 


<p1> Enter name of account </p1>
<br>


<br> <br> <br>
<div class="container">

	<form  method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-group">

              {{form|crispy}}

            </div>

            <button type="submit" class="btn btn-primary">Create Account</button>
          </form>

</div>

<br> <br> 

{%endblock content%}
