<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Finance App</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'users/css/blog-home.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
    <div class="container">
        <a style="color: white;" class="navbar-brand" href="http://127.0.0.1:8000/users/main">Financial App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

<!--                <li class="nav-item active">-->
<!--                    <a style="color: white;" class="nav-link" href="Your broke">-->
<!--                        <span class="sr-only">(current)</span>-->
<!--                    </a>-->
<!--                </li>-->

                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="http://127.0.0.1:8000/users/add-account">Add Account</a>
                </li>

                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="http://127.0.0.1:8000/users/add-bank">Add Bank</a>
                </li>

                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="http://127.0.0.1:8000/users/add-user">Add User</a>
                </li>

                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="http://127.0.0.1:8000/users/add-cardinfo">Add Card Info</a>
                </li>

                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="http://127.0.0.1:8000/users/add-transaction">Add Transaction</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <br>
    <br>
    <a href="{% url 'view-accounts'%}">
        <button type="button" class="btn btn-info"> View Accounts</button>
    </a>
    <a href="{% url 'view-users'%}">
        <button type="button" class="btn btn-secondary"> View Users</button>
    </a>
    <a href="{% url 'view-banks'%}">
        <button type="button" class="btn btn-success"> View Banks</button>
    </a>
    <a href="{% url 'view-cardinfo'%}">
        <button type="button" class="btn btn-danger"> View Card Information</button>
    </a>
    <a href="{% url 'view-transactions'%}">
        <button type="button" class="btn btn-warning"> View Transactions</button>
    </a>
    {%block content%}{%endblock%}
</div>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Made by Youmeng Hin and Ian Catania</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'users/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>

